:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --dark: #333;
  --light: #ddd;
  --white: #fff;
  --gray-dark: #444;
  --gray: #555;
  --primary: #007bff;
  --danger: #f44336;
}

body {
  margin: 0;
  padding: 0;
}

p,
button,
a {
  font-size: 16px;
}
